body {
  background-color: #e4f9f5;
  color: #40514e;
}
h1 {
  text-align: center;
  font-family: 'Lexend Zetta', sans-serif;
}

table, th, td {
  border: 1px solid black;
  font-family: 'Lexend Zetta', sans-serif;
}

table {
  margin: auto;
}

th, td {
  padding: 10px;
}

th {
  background-color: #30e3ca;
}

td {
  background-color: #11999e;
}

#color {
 color: blue;
}

#opacity {
  opacity: 0.5;
}

#text-align {
  text-align: right;
}

#font-size {
  font-size: 20px;
}

#font-family {
  font-family: "Arial";
}

#background {
  background: white;
}

.code {
  font-family: monospace;
}
